@page
@model WebChat.Views.Menu.ListChatsModel
@{
}
<div class="list-chat">
    <input type="text" class="search" />
    <div class="list-content">
        <ul class="user-chat">
            <li>PersonChat</li>
            <li>PersonChat</li>
            <li>PersonChat</li>
            <li>PersonChat</li>
        </ul>
    </div>
</div>