@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Areas/Identity/Pages/Auth.cshtml";
}
<div class="form-container">
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <img src="~/Img/user.png" class="Icon" />
        <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <label asp-for="Input.RememberMe" style="color:white;">
        <input class="RememberMe"  asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
        <button id="login-submit" type="submit" class="submit">Log in</button>
        <a class="text-page" id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
        <a class="text-page" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
